
.header
{
    width: 100%;
    margin: 0 auto;
    height: 260px;

}

.logo
{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.logo img
{
    height: 100px;
    width: 100px;
}

.tests{
    width: 100%;
    text-align: center;
    letter-spacing: 0.47em;
    color: red;
    font-size: 12px;
    font-family:Oswald,'serif';
}

.test__name{
    font-size: 40px;
    font-family:Oswald,'serif';
    width: 100%;
    text-align: center;

}